<h2 class="text-center p-2 bg-info text-white mb-4">{{username}}'s ToDo List in Angular FW</h2>

<h2 class="text-center mb-3">{{itemCount}} {{showComplete ? "Items incompletos" : "Items completados"}}</h2>

<div class="d-flex justify-content-center container-fluid">
  <table class="table table-info table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descripción</th>
        <th scope="col">Hecho</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of items; let i = index">
        <td>{{i + 1}}</td>
        <td>{{x.task}}</td>
        <td><input type="checkbox" [(ngModel)]="x.complete" /></td>
        <td [ngSwitch]="x.complete">
          <span *ngSwitchCase="true">Sí</span>
          <span *ngSwitchDefault>No</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container-fluid">
  <form>
    <div class="d-flex justify-content-center mb-3">
      <input class="form-control mr-3" type="text" #todoText placeholder="Escriba aquí la tarea pendiente...">
      <input class=" btn btn-danger ml-3" type="reset" value="Borrar">
      <button (click)="agregarItem(todoText.value)" class="btn btn-success ml-3">Añadir</button>
    </div>
  </form>

  <div class="d-flex justify-content-center mb-3">
    <div class="spinner-border text-warning" role="status">
      <span class="visually-hidden"></span>
    </div>
  </div>
</div>

<div class="bg-secondary text-white text-center p-2">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="showComplete">
    <label class="form-checked-label" for="defaultChecked1">Mostrar completados</label>
  </div>
</div>
